
.column {
    float: left;
    width: 50%;
    height: 100px;
  }
  

.row:after {
    content: "";
    display: table;
    clear: both;
  }

  .kotakku {
      border: 1px solid black;
      margin: 10px 400px 10px 400px;
      background-color: #E7BAFF;
      border-radius: 20px;
      padding: 20px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 1.00);
      text-align: center;
  }

  .gambar {
      border-radius: 70px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 1.00);
  }